* {
  box-sizing: border-box;
}

#table {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 60px;
  height: 90px;
  border: 1px solid #444;
  border-radius: 4px;
  margin: 8px;
  padding-top: 24px;
  text-align: center;

  color: rgba(0, 0, 0, 0);
  background-image: url(https://picsum.photos/60/90);
}

.card:hover {
  cursor: pointer;
}

.card.open {
  color: black;
  background-image: none;
}

.matching {
  background-color: pink;
}

.matching.disappear {
  opacity: 0;
  pointer-events: none; /* マウスに関するイベントを効かないようにする */
}
